
.sideBar {
    position: absolute;
    z-index: 900;
    width: 400px;
    top: 33px;
    right: 10px;
    bottom: 10px;
    padding: 0;
    text-align: left;
    background-color: white;
}

.sideTopBar {
    position: absolute;
    z-index: 910;
    width: 400px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    padding: 0;
    height: 26px;
    background-color: white;
}

#minMaxButton {
    position: absolute;
    right: 0px;
    width: 32px;
    height: 27px;
    top: -1px;
}

